<section class="flex justify-center min-h-screen p-[5%] text-lg">




    <div class="relative flex flex-col items-center w-full lg:justify-center">

        <div class="flex flex-col max-w-xl gap-5 lg:w-[50%] lg:absolute lg:right-0 md:text-xl 2xl:right-[5%]">
            <p>WHO'S JAMAL?</p>
            <h2 class="text-5xl font-bold sm:text-6xl md:text-7xl lg:text-8xl">About me</h2>
            <p>
                Hey there, I'm Karl. Write some information about yourself that is IT related. Why are you passionate
                about coding? What is your source of inspiration for improving your programming skills? Do you learn
                from each challenge as you search for the most efficient or elegant solution?
            </p>
            <p>
                Let’s collaborate and build something remarkable together!
            </p>
        </div>


        <button class="w-32 h-10 my-10 border border-black rounded-[100px] self-end sm:self-center sm:scale-110 md:scale-125 xl:scale-150 lg:absolute lg:top-[75%]">
            Let's talk
        </button>

        
        <div class="w-full lg:w-[40%] lg:absolute lg:left-0">
            <div class="relative flex flex-col text-xl text-white h-80 min-h-80 sm:scale-110 md:scale-125 xl:scale-150">
                <div
                    class="absolute top-0 flex items-center justify-center w-full h-40 bg-center bg-no-repeat bg-about-label-1 z-[2]">
                    <div class="flex items-center justify-center gap-4 mb-6 -rotate-6">
                        <img src="/assets/icons/location.svg" alt="">
                        <p>
                            Based in Mannheim
                        </p>
                    </div>
                </div>


                <div
                    class="absolute flex items-center justify-center w-full h-40 text-white bg-center bg-no-repeat bg-about-label-2 top-20 z-[1]">
                    <div class="flex items-center justify-center gap-4 rotate-5">
                        <img src="/assets/icons/relocate.svg" alt="">
                        <p>
                            Open to relocate
                        </p>
                    </div>
                </div>


                <div
                    class="absolute z-0 flex items-center justify-center w-full h-40 text-white bg-center bg-no-repeat bg-about-label-3 top-40">
                    <div class="flex items-center justify-center gap-4 rotate-6">
                        <img src="/assets/icons/remote.svg" alt="">
                        <p>
                            Open to work remote
                        </p>
                    </div>
                </div>
            </div>

        </div>






    </div>





</section>