<section class="flex min-h-screen p-[5%]">

    <div class="flex flex-col w-full gap-10 border border-blue-500">

        <div class="flex flex-col items-start w-full h-fit">
            <span>MY CRAFT</span>
            <h2 class="text-5xl font-bold sm:text-6xl md:text-7xl lg:text-8xl">Projects</h2>
        </div>


        <p>
            Encourage people to take a look and interact with your projects.
            Highlight your approach to creating responsive, user-friendly projects with efficient code.
        </p>


        <div class="grid items-center h-full grid-cols-1 gap-32 border border-green-700 xl:grid-cols-2 ">


            @for (info of projectService.projects; track $index) {
            <app-single-project class="mx-auto" [project]="info"></app-single-project>
            }






        </div>



    </div>

</section>