<section class="flex items-center justify-center h-screen text-white bg-hero-bg">

    <div>

        <div class="flex flex-col gap-4">


            <button class="w-36 h-10 flex justify-center items-center border rounded-[100px]">
                Hello world
            </button>

            <h1 class="text-6xl font-bold">Frontend</h1>
            <h1 class="text-6xl font-bold">DEVELOPER</h1>

        </div>

        <button>
            Get in Touch
        </button>


        <div>

            <div class="bg-contain bg-profil-img w-fit h-fit hover:grayscale">
                <img src="/assets/design/portrait-frame.svg" alt="">
            </div>

        </div>


    </div>


</section>