<section class="flex items-center justify-center h-screen text-white bg-hero-bg">

    <div class="flex flex-col h-[100%] justify-center gap-[5%] mt-8">

        <div class="flex flex-col gap-4">


            <button class="w-36 h-10 flex justify-center items-center border rounded-[100px]">
                Hello world
            </button>

            <h1 class="text-6xl font-bold">Frontend</h1>
            <h1 class="text-6xl font-bold">DEVELOPER</h1>

        </div>

        <button class="flex items-center justify-center w-40 border h-11 rounded-[100px] self-end">
            Get in Touch
        </button>


        <div class="flex justify-center">

            <div class="bg-contain bg-profil-img w-fit h-fit hover:grayscale rotate-6">
                <img src="/assets/design/portrait-frame.svg" alt="">
            </div>

        </div>


    </div>


</section>