<section class="flex flex-col gap-5  max-w-[800px] min-h-[600px] p-[5%] rounded-xl bg-skills-bg bg-cover text-white">
    <h2 class="text-3xl font-bold">{{project.name}}</h2>
    <div class="relative flex w-full h-[50%] justify-center" >
        <img class=" w-[200px] absolute left-[-80px] z-10" src="{{project.imgPhone}}" alt="">
        <img class="w-[90%]" src="{{project.imgDesktop}}" alt="">
    </div>
    
    
    <p class="text-lg">
        {{project.description}}
    </p>

    <div class="flex justify-around w-full">
        <button class="px-6 py-3 border border-black rounded-[100px]">Gitub</button>
        <button class="px-6 py-3 border border-black rounded-[100px]">Live Test</button>
    </div>

</section>