<section class="min-h-fit lg:min-h-[115vh] bg-cover pb-32 bg-skills-bg flex justify-center text-white p-[5%]">


    <div class="flex flex-col items-center min-h-full gap-[40px] text-lg py-20 md:text-xl">

        <div class="flex flex-col items-end w-full lg:mr-[40%] xl:mr-[60%] h-fit lg:items-start">
            <span>MY STACK</span>
            <h2 class="text-5xl font-bold sm:text-6xl md:text-7xl lg:text-8xl">Skill set</h2>
        </div>

        <div class="w-full max-w-2xl text-black bg-cover px-7 py-11 bg-skill-label">
            A short introduction of your skills. Highlight your experience of using different front-end technologies and
            emphasise your openness to learning and adapting to new technologies.
        </div>


        <div class="relative grid max-w-3xl grid-cols-3 gap-8 md:grid-cols-4 lg:grid-cols-5">
            @for (skill of skillService.skills; track $index) {

            <div class="flex flex-col items-center justify-center gap-3 text-center w-28">
                <img class="w-16 h-16 lg:w-20 lg:h-20" src="{{skill.img}}" alt="{{skill.name}}">
                <p>{{skill.name}}</p>
            </div>
            }

            <app-interest-label class="absolute bottom-[-20%] lg:bottom-[-80%] xl:bottom-[-50%] right-[0] lg:right-[-10%] xl:right-[-35%] rotate-12"></app-interest-label>

        </div>

    </div>

</section>